.container {
    max-width: 600px;
    margin: auto;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1.text-center {
    color: #333;
    margin-bottom: 20px;
    font-size: 2rem;
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
}

legend {
    color: #333;
    font-weight: bold;
}

input[type=submit] {
    margin-top: 20px;
}

.btn-secondary a {
    text-decoration: none;
}

h2.mt-4 {
    margin-top: 30px;
    font-size: 1.5rem;
    color: #333;
}

.list-group-item {
    background: #fff;
    border: 1px solid #ccc;
}

button.btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
}
